.img1{
    background-image: url(../images/organizers-bg.png);
    width: 100%;
    height: 100%;
    background-size: cover;     
}
.bg-color{
    background-color: rgba(47,23,86,.82);
}
.orgimg{
    object-fit: cover;
}
.first_t{
    padding-top: 80px !important;
    color: white !important;
}
.s_h{
    letter-spacing: 1px;
    padding-bottom: 0px;
}
    .clr{
    color: #b6c1d2!important;
    }
    .para1{
        font-size: 14px;   
    }
    .s_h{
        letter-spacing: 1px;
        padding-bottom: 0px;
    }
    .img2{
        background-image: url(../images/submit-bg.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .back_color{
        background-color: rgba(0, 0, 0, 0.7);
    }
    .btn-text{
        background-color :#fc097c;
        width: 170px;
        border-radius: 30px;
    }
    .btn-text a{
        text-decoration: none;
        color:white;
        font-weight: bold;
    }
    .bg-color3{
        background-color:#edf2f9!important; ;
    }
    .arrange{
        text-align: center;
        padding-top: 35px;
    }
    .border1{
        height: 160px;
       border: 2px solid #d8e2ef !important;    
 }
    .arrange1{
    padding-top: 55px;
    text-align: center;
}
    .image3{
    background-image: url(../images/bg-pricing.png);
    width: 100%;
    height:100%;
    background-size: cover;
   }
   .bg-color4{
    background-color:  rgba(30,19,74,.97)!important;
    }
    .bronze_bottom{
        border-bottom: rgba(255,255,255,.2) 1px solid;
     }
     .bronze{
         border:rgba(255,255,255,.3) 1px solid;
     }
     .btn4{
        width: 145px;
        height: 45px;
        font-weight: bold;
        margin-left: 30px;
    }  
    .list{
        list-style: none;
        font-size: 15px; 
        padding-left:20px;
       }
       .remain{
        font-size: 10px;  
        margin-top: 10px;
        color: rgba(255,255,255,.3);
    }
    .btn4{
        width: 145px !important;
        height: 45px !important;
        font-weight: bold !important;
        margin-left: 35px !important;
    }
